doctype html
html
    head
        meta(charset="UTF-8")
        title="Hello Pug"
        link(rel='stylesheet' type="text/css" href='style.css')
    body
        div.container
            p.text Zalogowałeś się, witaj !
            p.text powrót do strony logowania
            button.btn 
                a(href='/') wyloguj